:root {
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);

    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}
body{
    background: var(--Cream);
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main{
    max-width: 390px;
    
}
section{
    background: var(--Soft-red);
    color: white;
    padding: 1em;
    border-radius: 10px;
}
section span {
    font-weight: 700;
    display: block;
    font-size: 1.5em;
}
.circle-container{
    display: flex;
    position: relative;
    right: -250px;
    top: -60px;
}
.circle-outlined{
    border:2px solid white ;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: 99;
}
.circle-filled{
    background: var(--Dark-brown);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -18px;
}
article{
    background: var(--Very-pale-orange);
    padding: 0.5em;
    margin-top: 20px;
    border-radius: 10px;
}
.total-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p{
    color: var(--Medium-brown);
    margin-bottom: 10px;
}
h4{
    font-size: 2em;
    margin: 0;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 5px;
}
.percent{
    font-weight: bold;
    text-align: right;
    display: block;
}
.charts{
    display: flex;
    flex: 1;
    height: 150px;
    justify-content: space-around;
}
.bar-container{
    height: 150px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.bar{
    width: 30px;
    height: 40px;
    background: var(--Soft-red);
    border-radius: 5px;
}
.bar:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
label{
    color: var(--Medium-brown);
    font-size: 0.8em;
}
.mon{
    height: 40px;
}
.tue{
    height: 80px;
}
.wed{
    height: 120px;
    background: var(--Cyan);
}
.thu{
    height: 70px;
}
.fri{
    height: 60px;
}
.sat{
    height: 100px;
}
.sun{
    height: 75px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}